@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 5px;
  background: #eee;
  padding: 5px 10px;
  margin-top: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-links {
  display: flex;
  gap: 16px;
}

.right-links {
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: rgb(119, 119, 119);
}

a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #eeeeee;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
